<!DOCTYPE html>
<html>

<head></head>
<link rel="stylesheet" href="/css/styles.css" />

<body>
    {{>header}}
    <p>This site was created by Bassem alameddine. It uses data from mapbox and weatherstack.com!</p>
    <p>Created by {{name}}</p>
</body>

</html>